*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
# We DO want to commit Waleed-CRM.apk as requested by user
!Waleed-CRM.apk
